@page "/horarios"
@inject IGenericService<Negocio> negocioService

<main>
    @if (negocio != null)
    {
        <section class="horario">
            <div class="horario-info container">
                <h2>Horario</h2>
                <div class="horario-txt">
                    <div class="txt">
                        <h4>Dirección</h4>
                        <p>@negocio.Direccion</p>
                    </div>

                    <div class="txt">
                        <h4>Horarios</h4>
                        @foreach (var horario in negocio.Horarios)
                        {
                            <p>@horario.Dia: @horario.HoraApertura - @horario.HoraCierre</p>
                        }
                    </div>

                    <div class="txt">
                        <h4>Teléfonos</h4>
                        <p>@negocio.Telefono</p>
                    </div>

                    <div class="txt">
                        <h4>Redes Sociales</h4>
                        <div class="redes">
                            @if (negocio.RedesSocial != null)
                            {
                                <div class="icon-redes">
                                    <a href="https://wa.me/@negocio.RedesSocial.Whatsapp"><i class="fa-brands fa-whatsapp"></i></a>
                                </div>
                                <div class="icon-redes">
                                    <a href="@negocio.RedesSocial.Instagram"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                                <div class="icon-redes">
                                    <a href="@negocio.RedesSocial.Facebook"><i class="fa-brands fa-facebook"></i></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            @if (negocio != null)
            {
                <div class="map">
                    @((MarkupString)negocio.MapaIframe)
                </div>
            }
        </section>
    }
    else
    {
        <p>Cargando información del negocio...</p>
    }
</main>

@code {
    private Negocio? negocio;

    protected override async Task OnInitializedAsync()
    {
        var negocios = await negocioService.GetAllAsync();
        negocio = negocios?.FirstOrDefault();
    }
}